In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../sample.csv')

In [ ]:
df.head(9)

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df["Name"].value_counts()

In [ ]:
df.info()

In [ ]:
df

In [ ]:
def salary_clean(salary):
    if isinstance(salary,str):
        salary = salary.strip()
        if '$' in salary:
            salary = salary.replace('$','')
        if ',' in salary:
            salary = salary.replace(',','')
        return int(salary)
    return salary

In [ ]:
# test run
df['Salary'].apply(salary_clean)

In [ ]:
# final run
df['Salary'] = df['Salary'].apply(salary_clean)
df

In [ ]:
# dont do this ever
df.dropna()

In [ ]:
# test run
df.drop(['Mobile','Sno','Name'],axis=1)

In [ ]:
# final run
df.drop(['Mobile','Sno','Name'],axis=1, inplace=True)

In [ ]:
df

# scikit-learn

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imputer = SimpleImputer()

In [ ]:
# trail run
cols = ['Age','Salary']
imputer.fit_transform(df[cols])

In [ ]:
# actual run
cols = ['Age','Salary']
df[cols]= imputer.fit_transform(df[cols])

In [ ]:
df

In [ ]:
df['Designation'].value_counts()

In [ ]:
# trial run
imp2 = SimpleImputer(strategy='most_frequent')
imp2.fit_transform(df[['Designation']])

In [ ]:
# actual run
df['Designation'] = imp2.fit_transform(df[['Designation']])

#### no missing values

In [ ]:
df

In [ ]:
df[['Designation']].ndim

#### adding data to an existing dataframe

In [ ]:
gender = ['Male','Female']*5

In [ ]:
df['Gender'] = gender

#### remaming columns

In [ ]:
df.rename({'Salary':'Pay'},axis=1,inplace=True)

In [55]:
df.loc[0]

Age               23.0
Pay            89200.0
Designation    manager
Gender            Male
Name: 0, dtype: object

In [68]:
row = [
    {
    'Age':19,
    'Pay':93291,
    'Designation':'manager',
    "Gender":'Male'
    },
    {
    'Age':23,
    'Pay':56291,
    'Designation':'general manager',
    "Gender":'Female'
    }]

In [69]:
df = df.append(row,ignore_index=True)

In [70]:
df

       Age         Pay        Designation  Gender
0   23.000   89200.000            manager    Male
1   21.000   70000.000            manager  Female
2   28.000  129299.000     region manager    Male
3   29.000   84415.125     region manager  Female
4   43.875   89394.000  assistant manager    Male
5   43.875   67578.000            manager  Female
6   35.000   49990.000  assistant manager    Male
7   80.000   89231.000  assistant manager  Female
8   45.000   90629.000  assistant manager    Male
9   90.000   84415.125  assistant manager  Female
10  19.000   93291.000            manager    Male
11  19.000   93291.000            manager    Male
12  19.000   93291.000            manager    Male
13  23.000   56291.000    general manager  Female

In [71]:
df['Gender'].value_counts()

Male      8
Female    6
Name: Gender, dtype: int64

In [72]:
from sklearn.preprocessing import LabelEncoder

In [73]:
gender_enc = LabelEncoder()
gender_enc.fit(df['Gender'])

LabelEncoder()

In [74]:
gender_enc.transform(df['Gender'])

array([1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0])

In [75]:
df['Gender'] = gender_enc.transform(df['Gender'])
df

       Age         Pay        Designation  Gender
0   23.000   89200.000            manager       1
1   21.000   70000.000            manager       0
2   28.000  129299.000     region manager       1
3   29.000   84415.125     region manager       0
4   43.875   89394.000  assistant manager       1
5   43.875   67578.000            manager       0
6   35.000   49990.000  assistant manager       1
7   80.000   89231.000  assistant manager       0
8   45.000   90629.000  assistant manager       1
9   90.000   84415.125  assistant manager       0
10  19.000   93291.000            manager       1
11  19.000   93291.000            manager       1
12  19.000   93291.000            manager       1
13  23.000   56291.000    general manager       0

In [76]:
gender_enc.classes_

array(['Female', 'Male'], dtype=object)

In [79]:
gender_enc.inverse_transform([0,1,1]) # decode

array(['Female', 'Male', 'Male'], dtype=object)